
<!--CID: <incustomer-serviceModel)]="customer.customerId"/><br/>-->
<!--First Nacustomer-serviceut [(ngModel)]="customer.firstName"/><br/>-->
<!--Last Namcustomer-servicet [(ngModel)]="customer.lastName"/><br/>-->
<!--Phone Nucustomer-servicenput [(ngModel)]="customer.phoneNumber"/><br/>-->
<!--Email: <customer-servicengModel)]="customer.email"/><br/>-->


<h1>This should be editable...</h1>
{{customer.customerId}}<br/>
{{customer.firstName}}<br/>
{{customer.lastName}}<br/>
{{customer.phoneNumber}}<br/>
{{customer.email}}<br/>

